@import "tailwindcss";


.nav-link::after {
content: '';
position: absolute;
left: 0;
bottom: -6px;
width: 0;
height: 2px;
background-color: #38BDF8;
transition: width 0.3s ease;
}
.nav-link:hover::after { width: 100%; }